<br>
<a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft"
    style="width:100%;font-size:22px">X</a>
<div class="w3-container">
    <h3 class="w3-padding-64"><b>Simple<br>File Sharing</b></h3>
</div>
<div class="w3-bar-block">
    <a href="/" class="w3-bar-item w3-button w3-hover-white">Home</a>
    <a href="/register" class="w3-bar-item w3-button w3-hover-white">Register</a>
    <a href="/login" class="w3-bar-item w3-button w3-hover-white">Log in</a>
    <a href="/upload" class="w3-bar-item w3-button w3-hover-white">Upload</a>
    <a href="/users" class="w3-bar-item w3-button w3-hover-white">Users</a>
    <a href="/signout" class="w3-bar-item w3-button w3-hover-white">Log out</a>
</div>