<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
        <title>Login</title>
</head>

<header class="w3-container w3-top w3-hide-large w3-indigo w3-xlarge w3-padding">
    <%- include('./partials/header'); %>
</header>

<nav class="w3-sidebar w3-indigo w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;"
    id="mySidebar">
    <%- include('./partials/navbar') %>
</nav>

<div class="w3-main" style="margin-left:340px;margin-right:40px">
    <div class="w3-container" style="margin-top:80px" id="showcase">
        <h1 class="w3-xxlarge"><b>Login</b></h1>
        <h1 class="w3-xlarge w3-text-indigo"><b>Page</b></h1>
        <hr style="width:100px;border:5px solid #3f51b5" class="w3-round">
        <form name="uploadForm" method="post" action="/signin">
            <div class="w3-section">
                <label>Username</label>
                <input class="w3-input w3-border" type="text" name="username" placeholder="Enter username" required>
            </div>
            <div class="w3-section">
                <label>Password</label>
                <input class="w3-input w3-border" type="password" name="password" placeholder="Enter password" required>
            </div>
            <button type="submit" value="send"
                class="w3-button w3-block w3-padding-large w3-indigo w3-margin-bottom">Login</button>
        </form>
    </div>
</div>

<div id="alertMessage"><%= message %></div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var message = document.getElementById('alertMessage').innerText;
        if (message !== "") {
            alert(message);
        }
    });
</script>

</html>